@mixin content-block {
  width: 100%;
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 20px;
  @content;
}

@mixin text-btn-style {
  padding: 5px 10px;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  @content;
}

@mixin break-1100 {
  @media (max-width: 1100px) {
    @content;
  }
}

@mixin break-1000 {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin break-950 {
  @media (max-width: 950px) {
    @content;
  }
}

@mixin break-900 {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin break-800 {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin break-760 {
  @media (max-width: 760px) {
    @content;
  }
}

@mixin break-700 {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin break-650 {
  @media (max-width: 650px) {
    @content;
  }
}

@mixin break-600 {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin break-500 {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin break-350 {
  @media (max-width: 350px) {
    @content;
  }
}
